.header {
    height: var(--header-height);
    background-color: var(--primary-color);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    margin-top: 6px;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item-link:nth-child(1) {
    margin-left: 4px;
}

.header__navbar-icon {
    /* color: #fff; */
    margin: 0 4px;
    font-size: 1.6rem;
}

.header__navbar-item-link:hover {
    opacity: 0.8;
}

.header__navbar-item--strong {
    font-weight: 500;
}


.header__qr {
    display: none;
    position: absolute;
    top: 150%;
    width: 186px;
    background-color: #fff;
    border-radius: 2px;
    animation: ease fadeIn 0.2s;
    z-index: 1;
    box-shadow: 0 1px 5px rgb(0, 0, 0, 0.1);
}

.header__qr::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    height: 20px;
    width: 100%;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    margin: 0 11px 10px;
}

.header__qr-download-img {
    height: 16px;
}

.header__showchild:hover .header__qr,
.header__showchild:hover .header__notify {
    display: block;
}

.header__notify {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: #d3d3d3 1px solid;
    border-radius: 2px;
    transform-origin: calc(100% - 32px) top;
    animation: expandIn ease .2s;
    /* -webkit-animation: expandIn ease 0.2s;
    -moz-animation: expandIn ease 0.2s;
    -o-animation: expandIn ease 0.2s;
    will-change: opacity, transform; */
    z-index: 1;
}



.header__notify::before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -28px;
    right: 0px;

}

.header__notify::after {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 20px;
    width: 100px;
}

.header__notify-header {
    background-color: var(--white-color);
    height: 40px;
    color: #999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin-left: 12px;
}

.header__notify-list {
    list-style: none;
}

.header__notify-item {}

.header__notify-item:hover {
    opacity: 0.8;
}

.header__notify-item--seen {
    background-color: rgba(254, 84, 45, 0.15);
    ;
}

.header__notify-link {
    display: flex;
    text-decoration: none;
    padding: 12px;
}

.header__notify-img {
    height: 80px;
    margin: auto;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    color: var(--text-color);
    margin: 8px 0 8px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.header__notify-desc {
    color: #777;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.header__notify-footer {}

.header__notify-footer-btn {
    display: inline-block;
    text-decoration: none;
    color: #777;
    width: 100%;
    padding: 8px 0;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
}

/* USERNAME */
.header__navbar-user {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header__navbar-user:hover .header__navbar-user-img,
.header__navbar-user:hover .header__navbar-user-name {

    opacity: 0.8;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {}

.header__navbar-user-menu {
    box-shadow: 0 1px 8px rgb(0, 0, 0, 0.2);
    list-style: none;
    background-color: var(--white-color);
    z-index: 1;
    width: 160px;
    border-radius: 2px;
    position: absolute;
    top: calc(100% + 6px);
    right: 0;
    display: none;
    animation: fadeIn ease 0.2s;
}

.header__navbar-user-menu::before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 10px 15px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -18px;
    right: 32px;
}

.header__navbar-user-menu::after {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 20px;
    width: 100%;
}

.header__navbar-user-item {}

.header__navbar-user-item--sep {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.header__navbar-user-item a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    font-size: 1.4rem;
}

.header__navbar-user-item:hover {
    background-color: #f2f2f2;
    border-radius: 2px;
}


/* HEADER WITH SEARCH */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    line-height: 0;
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    height: 40px;
    background-color: #fff;
    border-radius: 2px;
    flex: 1;
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;

}

/* SEARCH HISTORY */
.header__search-input:focus~.header__search-history {
    display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(188, 188, 188);
    display: none;
    z-index: 1000;
}

.header__search-history-heading {
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(182 182 182);
    padding: 12px;
    display: block;
}

.header__search-history-list {
    margin-top: 2px;
    list-style: none;
}

.header__search-history-item {
    font-size: 1.4rem;

}

.header__search-history-item:hover {
    background-color: rgba(153, 153, 153, 0.15);
}

.header__search-history-link {
    padding: 12px;
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.header__search-sep {
    border-left: 1px solid #ddd;
    height: 60%;
}

.header__search-select {
    padding: 0 16px 0 10px;
    height: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.header__search-select:hover .header__select-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0 8px;
}

.header__search-select-icon {
    font-size: 0.8rem;
    font-weight: bold;
    color: #000;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 92%;
    padding: 0 24px;
    margin-right: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.header__search-btn-mobile {
    background-color: var(--primary-color);
    border: none;
    height: 92%;

    padding: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    display: none;
}

.header__search-btn-mobile i {
    font-size: 2.2rem;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-btn:hover {
    opacity: 0.8;
}

.header__select-option {
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: var(--white-color);
    list-style: none;
    width: 135px;
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgb(186, 186, 186);
    display: none;
    animation: fadeIn ease 0.2s;
    z-index: 1;
}

.header__select-option::before {
    content: "";
    position: absolute;
    top: -10px;
    height: 20px;
    width: 100%;
}

.header__select-option-item {
    padding: 12px 0 12px 18px;
    cursor: pointer;
}

.header__select-option-item:hover {
    background-color: rgba(153, 153, 153, 0.15);
}

.header__select-option-label {
    margin-right: 12px;
}

.header__select-option-icon {
    color: var(--primary-color);
    display: none;
}

.header__select-option-item--active i {
    display: inline-block;
}

.header__cart {
    width: 150px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap {
    display: inline-block;
    position: relative;
}

.header__cart-link {
    display: inline-block;
    padding: 8px 12px;
}

.header__cart-icon {
    font-size: 2.8rem;
    color: #fff;
}

.header__cart-numList {
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.3rem;
    line-height: 1.5rem;
    padding: 0px 6px;
    border-radius: 10px;
    position: absolute;
    right: -4px;
    top: -1px;
    border: 3px solid var(--primary-color);
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 2px);
    right: 0px;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 410px;
    box-shadow: 0 1px 8px rgb(0, 0, 0, 0.2);
    font-size: 1.6rem;
    display: none;
    transform-origin: calc(100% - 20px) top;
    animation: expandIn ease 0.2s;
    z-index: 1;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list::before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 12px 18px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -22px;
    right: 8px;

}

/* TRƯỜNG HỢP GIỎ HÀNG KO CÓ SẢN PHẨM */
.header__cart-list--no-cart {
    padding: 16px 0;
}

.header__cart--no-cart-img {
    width: 50%;
    background-color: var(--white-color);
    display: flex;
    margin: 0 auto 16px auto;
    display: none;
}

.header__cart-no-cart-title {
    display: none;
    color: var(--text-color);
}

.header__cart-list--no-cart img,
.header__cart-list--no-cart p {
    display: block;
}

/* GIỎ HÀNG CÓ SẢN PHẨM */
.header__cart-heading {
    font-weight: 500;
    color: rgb(162, 162, 162);
    text-align: start;
    padding: 12px;
    font-size: 1.5rem;
}

.header__cart-listItem {
    list-style: none;
    margin-top: 0px;
    max-height: 30vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    padding: 12px;
    align-items: center;
}

.header__cart-item:hover {
    cursor: pointer;
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 45px;
    height: 45px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    margin-left: 10px;
    flex: 1;
}

.header__cart-item-head {
    color: var(--text-color);
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    max-height: 3.6rem;
    overflow: hidden;
    flex: 1;
    text-align: left;
    padding-right: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price {
    color: var(--primary-color);
}

.header__cart-multi {
    color: #757575;
    font-size: 1rem;
    margin: 0 4px;
}

.header__cart-quantity {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.header__cart-desc {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-btn {
    float: right;
    margin: 12px;
    width: 120px;
}

.header__cart-btn:hover {
    opacity: 0.9;
}

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sortbar-height);
    background-color: var(--white-color);
    display: flex;
    list-style: none;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-item--active .header__sort-item-link {
    color: var(--primary-color);
}

.header__sort-item--active .header__sort-item-link::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0px;
    right: -2px;
    border-bottom: 2px solid var(--primary-color);
}

.header__sort-item-link {
    position: relative;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    line-height: var(--header-sortbar-height);
}

.header__sort-item:nth-child(1) a::after {
    display: none;
}

.header__sort-item-link::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 60%;
    border-right: 1px solid #ccc;
}

/* Body */

.app__container {
    background-color: #f5f5f5;
}

.app__content {
    padding-top: 28px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 20px 20px 12px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.category-list {
    list-style: none;
    /* padding: 8px 0 8px 16px; */
}

.category-item {}

.category-item__link {
    position: relative;
    display: block;
    padding: 16px 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    transition: right linear 0.1s;
    right: 0;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    position: absolute;
    content: "";
    border: 4px solid;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    left: 6px;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

.category-item__link::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #E1E1E1;
    top: 0;
    left: 20px;
    right: 20px;
}

/* Body */
/*MOBILE CATEGORY LIST*/
.mobile-category {
    display: none;
    margin: 8px 0;
}

.mobile-category__list {
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 100%;
    overflow: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category-item {

    margin-right: 10px;
}

.mobile-category-item:nth-last-of-type(3n) .mobile-category-link {
    background-color: #a3c59a;
}

.mobile-category-item:nth-last-of-type(3n + 1) .mobile-category-link {
    background-color: #c59ac0;
}

.mobile-category-item:nth-last-of-type(3n + 2) .mobile-category-link {
    background-color: #9a9dc5;
}

.mobile-category-link {
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 42px;
    min-width: 108px;
    padding: 1px 8px;
    user-select: none;
    -webkit-user-select: none;
}

/*END MOBILE CATEGORY LIST */
.home-filter {
    display: flex;
    align-items: center;
    background-color: rgb(110 110 110 / 10%);
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555555;
    margin-right: 12px;
}

.home-filter__btn {
    margin-right: 12px;
}

.home-filter__pages {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__pages-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 12px;
}

.home-filter__pages-current {
    color: var(--primary-color);
}

.home-filter__pages-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    height: 36px;
    width: 72px;
}

.home-filter__pages-control-btn {
    flex: 1;
    text-decoration: none;
    background-color: var(--white-color);
    display: flex;
    /* margin-left: 2px; */
}

.home-filter__pages-control-btn--disabled {
    cursor: default;
    color: #ccc;
    background-color: #f9f9f9;
}

.home-filter__pages-control-btn:first-child {
    border-right: #eee solid 1px;
}

.home-filter__pages-control-icon {
    margin: auto;
    font-size: 0.9rem;
}

.home-product {
    margin-bottom: 10px;
    z-index: -1;
}

.home-product-item {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(0, 0, 0, 0.1);
    transition: transform ease-in-out 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 1px 1px 20px rgb(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item-name {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    margin-left: 10px;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    align-items: center;
}

.home-product-item__like {
    font-size: 1.3rem;
}

.home-product-item__liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__like-icon-empty {}

.home-product-item__like-icon-fill {
    display: none;
    color: red;
}

.home-product-item__rated {
    color: #ffce3e;
}

.home-product-item__rating {
    margin: -1px 0 0 auto;
    font-size: 0.9rem;
    color: #757575;
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;

}

.home-product-item__source {
    padding: 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    color: #595959;
    font-weight: 300;
    font-size: 1.2rem;
}

.home-product-item__brand {}

.home-product-item__source-location {}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0 4px;
    line-height: 1.6rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favorite::before {
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0px;
    filter: brightness(60%);
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite i {
    margin-right: 4px;
    font-size: 0.8rem;
    color: var(--white-color);
    font-weight: 700;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0px;
    right: 0;
    text-align: center;
    color: #ffd53bf3;
    background-color: currentColor;
    padding: 4px;
    width: 44px;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::before {
    border-width: 0px 22px 6px;
    border-color: transparent currentColor transparent currentColor;
    border-style: solid;
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0px;
}

.home-product-item__sale-off-percent {
    font-size: 1.2rem;
    display: block;
    font-weight: 800;
    color: var(--primary-color);
}

.home-product-item__sale-off-label {
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--white-color);
}

.home-product__pagination {
    margin: 48px 0 32px;
}

/* FOOTER */
.footer {
    padding-top: 40px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #707070;
}

.footer-list {
    margin: 4px 0 16px;
    list-style: none;
}

.footer-item {}

.footer-item__link {
    display: flex;
    padding: 4px 0;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(118, 118, 118);
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__link i {
    margin-right: 10px;
    color: rgb(69, 69, 69);
    font-size: 1.6rem;
}

.footer-item__link-title {
    margin-top: -1px;
}

.footer-download {
    margin: 10px 0 40px;
    display: flex;
}

.footer-qr {
    object-fit: contain;
    width: 84px;
    padding: 4px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    margin-right: 16px;
}

.footer-download__apps {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-download__apps-img {
    height: 18px;
}

.footer-download__apps-link {
    line-height: 0;
    text-decoration: none;
}

.footer__bottom {
    background-color: #f5f5f5;
    padding: 8px 0;
}

.footer__license {
    display: block;
    margin: auto;
    color: rgb(118, 118, 118);
    font-size: 1.2rem;
}

.footer__license i {
    color: var(--primary-color);
}

.footer__bottom-wrap {
    display: flex;
    flex-direction: column;
}

/* form */
.form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 4px;
    overflow: hidden;
}

.form__container {
    padding: 0 32px;
}

.form__header {
    display: flex;
    justify-content: space-between;
    padding: 32px 10px;
}

.form__heading {
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 500;
}

.form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    text-decoration: none;
}

.form__form {
    margin-top: 24px;
}

.form__group {
    margin-bottom: 16px;
}

.form__group.invalid .form__input {
    border: 2px solid red;
}

.form__label {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2;
}

.form__input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 4px;
    font-size: 1.4rem;
    border: 2px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.form__message {
    font-size: 1.2rem;
    color: red;
}

.form__input:focus {
    border-color: #777;
}

.form__forgot {
    font-size: 1.3rem;
    font-weight: 550;
    display: flex;
    justify-content: end;
    position: relative;
    align-items: center;
}

.form__forgot-sep {
    display: block;
    height: 22px;
    border-left: 1px solid #EAEAEA;
    margin: 0 12px;
}

.form__aside {
    padding: 8px 12px;
}

.form__policy-text {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.form__text-link--primary {
    color: var(--primary-color);
    text-decoration: none;
}

.form__text-link {
    color: #939393;
    text-decoration: none;
}

.form__controls {
    margin-top: 88px;
    display: flex;
    justify-content: end;
}

.form__controls-btn {
    width: 140px;
}

.form__socials {
    margin-top: 24px;
    background-color: #e8e8e8;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.form__socials--SMS {
    color: var(--white-color);
    background-color: #42d441;
    flex: 1;
    padding: 0 8px;
    margin-right: 12px;
}

.form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
    flex: 1;
    padding: 0 8px;
    margin-right: 12px;
}

.form__socials--google {
    color: #666;
    background-color: var(--white-color);
    flex: 1;
    padding: 0 8px;
}


.form__socials-icon {
    font-size: 1.8rem;
}

.form__socials-text {
    margin: 0 24px;
}